@import 'tailwindcss';
@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39; /* bg-gray-900 */
  --background-end-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
